<!DOCTYPE html>
<html lang="en">
<div class="containers">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">  
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script> 
    <meta name="author" content="Leslie S. Huh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <title>Template</title>
    </head>
    <header>
        <h1>Header</h1>
    </header>
    <nav>
        <div class="navLinks">
            <a href="./template.html">Nav 1</a>
            <a href="../website/index.html">Nav 2</a>
            <a href="../website/views/fun.html">Nav 3</a></div>
        <i id="borgir" class="fas fa-bars"></i>
    </nav>
    <body>
        <div class="main">
        <div class="mainImg">
            <img id="forgor" src="./static/IMG_4788.jpeg" alt="forgor">
        </div>
        <div class="mainContent">
            <p id="filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit 
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                occaecat cupidatat non proident, sunt in culpa qui officia 
                deserunt mollit anim id est laborum.</p>
        </div></div>
        <div class="bottomContent"><h1>Bottom Content</h1></div>
    </body>
    <footer>
        <h1>Footer</h1><br>
        &copy; 2025 designed and coded by Leslie Huh
    </footer>
</div>
<script src="./static/script.js"></script>
</html>