<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Leslie S. Huh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <script src = "../static/script.js"></script>

    <title>For Fun ~ Leslie H</title>
</head>
<body>
    <header>
        <h1 id="webname">Leslie Huh</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div id="item1">
        <h2>For Fun!</h2>
        <!-- <button id="showButton" onclick="showList()">Click to see...</button> -->
        <ul id="hobbies">
            <li>🕹️ I like to play video games. Some of my favorite games are Animal Crossing,
                The Sims, and Persona 5.</li>
            <li>🏎️ I'm a huge motorsports fan! I specifically enjoy IndyCar and Formula 1.</li>
            <li>⚾️ I'm also a baseball fan. Since I'm from So-Cal, I'm a loyal Dodgers fan. 😼</li>
            <li>✈️ I'm a huge nerd when it comes to commercial aviation. My favorite planes are the A350 and A220.</li>
            <li>🎹 I enjoy playing in my free time~ ☺️</li>
        </ul>
    </div>
    <div id="item2">
        <img id="funIMG" src="../static/IMG_4686.JPG" alt="AI generated picture of Hello Kitty peacefully watching her engulfed in flames at work.">
    </div>
    <div id="item3"><iframe width="560" height="315" src="https://www.youtube.com/embed/yD2FSwTy2lw?si=7MHJcd1RkknrHc9B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    <div id="item4"><div class="container">
    <h2>Need advice?</h2><p id="adviceText">Click the button below for free advice!</p>
    <button type="button" onclick="getAdvice()">Click me!</button>
</div></div>

</body>
<footer>
    &copy;2025 designed🎨 and coded👩🏻‍💻 by Leslie Huh
</footer>
</html>