
* {
    padding: 5px;
    margin: 5px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

#webname {
    background-color: pink;
}
h2 {
    background-color: pink;
    border: 2px solid pink;
}
a {
    text-decoration: none;
    color: pink;
    margin-right: 15px;
    font-weight: 500;
}
table {
    background-color: pink;
    width: fit-content;
    border-collapse: collapse;
}
th {    
    padding: 5px;
    color: gray;
    background-color: #FFC0CB;
}
tr:nth-child(even){
    background-color: #FFF0F2;
}
tr:nth-child(odd){
    background-color: #FFE0E5;
}
.pdf{
    display: block;
    margin: auto;
    width: 70%;
    height: 100vh;
}
#contact_form{
    display: block;
    margin: auto;
    text-align: center;
}
#hobbies{
    display:none;
}

button{
    border: none;
    background-color: pink;
}
#commErr,#emailErr,#nameErr{
    color: red;
} 

#helloCrashout{
    border-radius:10%;
    width:40%;
}