<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Duquesne Incline, Pittsburgh, Duquesne">
    <link rel="stylesheet" href="../static/style.css"> 

    <title>Duquesne Incline</title>
    
</head>
    <header>
        <div class="header">
        <img id="logo" src="../static/DuqInclineLogo.jpg" alt="The Duquesne Incline logo">
        <h1 id = "webname">The Duquesne Incline</h1>
        </div>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./about.html">About Us</a>
            <a href="./groups.html">Group Information</a>
            <a href="./shop.html">Gift Shop</a>
        </nav>
        <h2>About Us</h2>
    </header>
<body>
    <div id="about-us">
        <span>Take a step back in time on a century-old cable car and see the best 
            views of downtown Pittsburgh while riding one of the few remaining 
            inclines in the country. Opened on May 20, 1877, the Duquesne Incline 
            was rescued and restored by a group of local residents in 1963 and 
            still delights residents and visitors with its original, elegant, wooden 
            cable cars. Now you can visit the interior of the incline and watch 
            the machinery while it operates. The Duquesne Incline's upper station 
            houses a museum of Pittsburgh history, including photos and a storehouse 
            of information on inclines from around the world. Unusual Pittsburgh 
            souvenirs, maps and photos can be found at the gift shop.
        </span>
    </div>
    <div id="contact-us">
        <h2>Contact Us</h2>
        <div class="button-container">
            <button class="button" href="mailto:duq.incline@duquesneincline.org">Email</button>
            <button class="button" href="tel:4123811665">Phone<br>(412) 381-1665</button>
            <button class="button">Address<br>1197 West Carson Street<br>Pittsburgh, PA 15219</button>
          </div>

    </div>
    <br>
</body>
<footer><div class="footer">
    &copy; designed and coded by Leslie Huh | <a href="">Contact Us</a>
</div></footer>
<script src = "./static/script.js"></script>
</html>