<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Duquesne Incline, Pittsburgh, Duquesne">
    <link rel="stylesheet" href="../static/style.css"> 

    <title>Duquesne Incline</title>
    
</head>
    <header>
        <div class="header">
        <img id="logo" src="../static/DuqInclineLogo.jpg" alt="The Duquesne Incline logo">
        <h1 id = "webname">The Duquesne Incline</h1>
        </div>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./about.html">About Us</a>
            <a href="./groups.html">Group Information</a>
            <a href="./activities.html">Things to Do!</a>
            <a href="./shop.html">Gift Shop</a>
        </nav>
    </header>
<body>
</body>
<script src = "./static/script.js"></script>
</html>