* {
    /* padding: 5px; */
  }
a {
    color:white;
    font-family:"Playfair Display", serif;
    font-weight:400;
    margin-left:30px;
    margin-right:30px;
    text-decoration: none;
}
body {
    text-align: center;
}
button{
    background-color:#D9D9D9;
    font-family:"Playfair Display", serif;
    font-size:23px
    font-weight:400;
    flex: 1;
    margin: 4px;
    padding:10px 20px;
}
header {
    background-color: #C41230;
    color: white;
    display: flex;
    flex-direction:column;
    font-family:"Playfair Display", serif;
    font-weight:500
}
h2 {
    background-color:#C41230;
    color:white;
    font-size:30px;
}
h3 {
    font-size:23px;
}
img {
    align-items: center;
    width: 50%
}
span, p {
    font-family:"Comic Neue";
    font-size:23px;
    font-weight:400;
}
.button-container {
    align-items:center;
    display: flex;
    justify-content: space-between; 
    width: 75%;
    margin:0 auto;
  }
.header {
    background-color:white;
    color:black;
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}
.footer {
    background-color:#C41230;
    color:white;
    align-items:center;
    font-family:"Playfair Disaply", serif;
    font-weight:400; 
    font-size:17px;
}
#logo {
    height:10%;
    width:10%
}
#webname {
    font-weight: 800;
    font-size:60px;
    font-style: normal;
}